Host PC

1.Host PC
	Install Ubuntu(12.04LTS or 14.04LTS) into a PC (or Virtual Machine) and ensure it has an Internet connection.
	Please choose the 32-bit install of Ubuntu as the 64-bit version may cause issues when building
	due to the pre-built toolchain.

2.Additional packages
	Install additional packages to the PC by executing following
	commands:

	$ sudo apt-get install u-boot-tools
	$ sudo apt-get install ncurses-dev



